body {
    background-color:#5b554a;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
}

button{
  color: #111010;
  background-color: #F3F3F3;
  font-family: "Chakra Petch", sans-serif;
}


.passo{
  display: none;
}

.passo.ativo{
  display: block;
}

main{
  padding-top:40%;
  color: white;
  text-align: center;
  max-width: 90%;
}

img{
  max-width: 80%;
}